/*Common elements*/
body {
    font-size: 50%
    font-family: Proxima Nova, Bold;
    background: #39150C url(Assets/maps.jpg) no-repeat fixed top center;
    padding: 0;
    margin: 0;
    -webkit-background-size:  100%, 100%;
    -moz-background-size: 100%/ 100%;
    backgrond-size: 100%, 100%;
    -o-background-size: 100%, 100%;
}
h1 {
    color: blue;
    font-size: 2.0em;
    margin: 0.5em 0 0.5em 0;
    padding: 0;
}
h2 {
    color: blueviolet;
    font-size: 1.5em;
    padding: 0px;
    margin: 0.5em 0 0.35em 0;
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: black;
    padding: 0px;
    margin: 0px 0.5em 0.75em 0px;S
}
ol {
    font-size: 1.2em;
    margin: 0 0 0 1.0em;
    padding: 0 0 0 1.0em;
}
ol li {
    margin: 0;
    padding: 0 0 0.2em;
}
a, a:visited {
    color: #C64322;
}
a:hover {
    color: #333;
}
hr {
    padding: 0;
    margin: 1.5em, 1.5em, 0.75em, 0.5em;
}
.contentWrapper {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 3.0em;
}
.left {
    float: left;
}
.right {
    float: right;
}
/*Header*/
header {
    padding: 2.5em 0 0.5em;
    margin: 0 0 2.0em;
    background: url(Assets/airplane.jpg) center 0px;
}
header h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 7.5em;
    letter-spacing: -0.025em;
    margin: 0;
    /*text-shadow: 1px 2px 0 #bd8437; offxet-x | offset -y | blur-radius | color*/
}
header h2 {
    font-weight: 300;
    font-size: 3.8em;
    color: #2ba967;
    margin: -0.4em 0 0 1.0em;
    text-transform: uppercase;
    letter-spacing: 0,05em;
}
/*Nav Bars*/
/*Sidebar Section*/
section#sidebar {
    width: 238px;
    float: left;
    position: relative;
    display: block;
    background-color: #fff;
    margin: 1.5em 0 3.0em 1.5em;
    padding: 1.7em 0.5em 2.0em 1.7em;
    border-left: #2ba967 solid 5px;
}
/*Main Section*/
section#main{
    /*background-color: #FCFBE6;*/
background-color: rgba(252, g251, 243, 0.7);
margin: 0 0 2.0em;
padding: 1.5em 0 2.0em 1.5em;
display: inline-block;
border-radius: 2em;
box-shadow: 1px 1px 5px #777; /* offset-x | offset-y | blur-radius| color*/
}
section div.panel{
    float: left;
    position: relative;
    width: 250px;
    margin: 0 0.5em 2.0em 0.5em;
    padding: 1.0em;
    background-color: #fff;
    border: #ccc solid 1px;
    border-radius: 0.6em;
}
section div.panel img.destinations {
    width: 100%;
}

/*Footer*/
footer {
    background-color: #40362f;
    height: 25px;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    padding: 1.5em 2.0em;
}
footer ul#menufooter {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0.6em;
    padding: 0;
}
footer ul li {
    display: inline-block;
    padding: 0 0.7em 0 0;
    margin: 0;
}
